.profile {
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0px 0px 13px -1px rgba(43, 43, 59, 0.59);
}

.description {
  text-align: center;
  padding-top: 30px;
  align-items: center;
}

.avatar {
  border: 5px solid rgb(59, 42, 42);
  border-radius: 100px;
  width: 200px;
}

.name {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

.tag {
  margin-top: 10px;
  font-size: 18px;
  color: rgb(97, 89, 89);
}

.location {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(97, 89, 89);
}

.stats {
  margin-top: 30px;
  background-color: rgb(233, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.label {
  margin-left: 30px;
  margin-right: 30px;
}

.element {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 5px;
}
.element:not(:last-child) {
  border-right: 1px solid rgb(47, 51, 49);
}

.quantity {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
